body{
  background-color: #E8E8E8;
}
.container{
  background-color: white;
  margin: 50px 70px;
  padding: 20px;
}

.container h1{
  color: #FC814A;
  text-align: center;
  background-color: black;
  padding: 5px;
}