@model Product

<h2 class="text-info-emphasis">@Model.ProductName Details</h2>

<p>Product Id :@Model.ProductId</p>
<p>Product Name :@Model.ProductName</p>
<p>Product Price  :@Model.Price</p>
<p>Category : @Model.Category</p>